<div class="jumbotron">
  <h1 class="display-3">Saved Articles</h1>
  <p class="lead">This is an index entry point for an express application</p>
  <hr class="my-4">
  <p>Replace this jumbotron with your own handlebars!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/otherPage" role="button">Learn more</a>
  </p>
</div>

{{#each article}}
<div>
<button class="unsave-btn" value={{this._id}}>Unsave Article</button>
<button class="note-btn" value={{this._id}}>Article Note</button><br>
<a href={{this.url}} target="_blank">{{this.headline}}</a><br>
{{this.summary}}<br><br>
</div>
{{/each}}    